
/* content */
#content {
    font-family: 'Karla', sans-serif;
    background: #1e88e5;
    background: linear-gradient(to right, #114C80, #1972BF, #2197FF); /* Standard syntax */
    color: white;
    padding-top: 240px;
    padding-bottom: 267px;


}

#about-me-header {
    text-decoration: none;
    text-align: center;
    color: white;
    display: block;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    margin: 20px;
    font-size: 3.2em;
    letter-spacing: 0.07em;
}
#content img {
    display: block;
    border-radius: 50%;
    margin: 0 auto;
}