/*@media screen and*/

/* content */
#content {
    font-family: 'Karla', sans-serif;
    background: #1e88e5; /* if gradient doesn't work*/
    background: linear-gradient(to right, #114C80, #1972BF, #2197FF); /* Standard syntax */
    color: white;
    padding-top: 325px;
    padding-bottom: 392px;

}

#content h1 {
    text-align: center;

}

