/*@media screen and*/

/* content */
#content {
    font-family: 'Karla', sans-serif;
    background: #1e88e5; /* if gradient doesn't work*/
    background: linear-gradient(to right, #114C80, #1972BF, #2197FF); /* Standard syntax */
    color: white;
    padding-top: 325px;
    padding-bottom: 392px;

}

#header-name, #tagline2 {
    font-family: 'Montserrat', sans-serif;
    color: white;
    display: block;
    font-size: 5em;
    letter-spacing: 0.07em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    margin: 20px;
}

#tagline2 {
    margin: 8px;
    font-size: 1.5em;
}

#content p {
    text-align: center;
    font-size: 1.5em;
}

#portfolio-button {
    display: block;
    margin: 34px auto 0;
    width: 14%;
    height: 50px;
    border: none;
    background: #db5f17;
    color: white;
    letter-spacing: 2px;
    font-size: 1em;
    text-transform: uppercase;
}

hr {
    display: block;
    margin: -10px auto;
    margin-bottom: 1em;
    max-width: 842px;
}

@media screen and (max-width: 960px) {
    #header-name {
        font-size: 8vw;
    }

    #portfolio-button {
        width: 134px;
    }

    #content p {
        font-size: 1.5em;
    }

    hr {
        width: 90vw;
    }
}